.gradient-custom-2 {




background: linear-gradient(135deg, #82d942 0%, #a6ef7b 100%);

}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

gradient-info{
  color: #0e0000;
}